.swap_box{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 15px;
    margin-top: 50px;
    padding: 20px 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px #aaaaaa;
    background-color: #ffffff;
}
.pay_receive_boxes{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}
.change_pay_receive{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.change_pay_receive img{
    height: 20px;
    aspect-ratio: 1/2;
}
.pay_receive_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 10px;
}
.pay_box{
    border-radius: 10px;
    background-color: #eeeeee;
}
.token_box{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.token_box select{
    background-color: transparent;
    cursor: pointer;
}
.token_box_title,
.token_full_name{
    font-size: 13px;
    color: #adadad;
}
.input_box input{
    width: 150px;
    text-align: right;
    font-size: 20px;
    background-color: transparent;
}
.bottom_actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.connect_wallet_button{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.chain_selector_box select{
    text-align: right;
    cursor: pointer;
}