.loadingContainer {
  width: 100%;
  height: 4px;
  background-color: #e0d6d6;
  border-radius: 15px;
  position: absolute;
  overflow: hidden;
  bottom: 0;

  .loadingBar {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #236de6, #14265a);;
    animation: loading 2s infinite;
  }
}


@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
