.connetWallet {
  width: 500px;
  padding: 16px;
  height: fit-content;
  background-color: #131823;
  border-radius: 24px;
}

.walletItem {
  display: flex;
  align-items: center;
  padding: 12px;
  border: 1px solid #10141c;
  background-color: #10141c;
  gap: 10px;
  border-radius: 12px;
  cursor: pointer;
}

.walletItem:hover {
  border: 1px solid #2f3b4d;

}

.walletItem:hover>p {
  color: #2f8af5;
}

.walletItemWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
  margin: 16px;
}

.connetWalletHeader {
  text-align: center;
  position: relative;
}

.connetWalletHeader>p {
  font-size: 20px;
}

.moreWallet {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.moreWallet>p {
  color: #2f8af5;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.termsofuse {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #6c86ad;
  max-width: 60%;
  margin: 16px auto 8px;
}

.termsofuse>span {
  color: #2f8af5;
}

.connetWalletClose {
  position: absolute;
  top: -6px;
  right: 0;
}

.connetWalletClose {
  width: 36px;
  height: 36px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connetWalletClose:hover {
  background-color: rgba(108, 134, 173, .15);
}