.walletItem {
    width: 226px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background: #F7F9FF;
    padding: 12px;
    color: #222222;
    border: 1px solid #F7F9FF;
}

.walletItem:hover {
    border: 1px solid #cadaf4;
    color: #2f8af5;
}