@import "../variables";

.input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 24px;

    &.search {
        color: $text_01;
        width: 100%;
        padding: 16px;
        background: #f3f5fa;
        border-radius: 12px;
        font-size: $text_base;
    }
}